/* 
==================================
TABLE OF CONTENTS:
==================================
1. GLOBAL SEMANTIC STYLES
2. HEADER & TOP NAV 
3. SECTION 1: INTRO
4. SECTION 2: MIDDLE NAV 
5. SECTION 3: ABOUT ME 
6. SECTION 4: MY WORK 
7. SECTION 5: FOOTER & CONTACT ME 
8. RESPONSIVE MEDIA STYLES  
==================================
*/

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
1. GLOBAL SEMANTIC STYLES
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
:root {
    --standard-white: #fff;
    --standard-navy: #020312;
    --standard-pink: #d94796;
    --standard-light-gray: #e9ebf1;
    --standard-medium-gray: #5e6169;
  }
html {
    width: fit-content;
}
body {
    font-family: Arial;
    margin: 0;
    background-color: var(--standard-navy);
    color: var(--standard-white);
}
h1 {
    font-size: xxx-large;
    font-weight: bold;
}
h2 {
    font-size: xx-large;
    font-weight:lighter;
}
header {
    position: fixed;
    width: 100%;;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
2. HEADER & TOP NAV 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

nav {
    background-color: var(--standard-white);
    color: var(--standard-navy);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 55px;
}
nav a {
    color: var(--standard-navy);
    border-top: 4px solid var(--standard-white);
    flex: 0 0 130px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    border-top: 4px solid var(--standard-pink);
    background-color: var(--standard-light-gray);
    font-weight: bold;
}

.logo {
    height: 75px;
    width: 75px;
    color: #fff;
    background-color: #d94796;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    font-size: xxx-large;
    position: absolute;
    top: 5px;
    left: 5%;
}
.logo a {
    color:#fff;
    text-decoration: none;
}
/* THIS IS A SCROLL TO TOP BUTTON AT THE BOTTOM RIGHT */
.back-to-top {
    width: 44px;
    height: 46px;
    color: var(--standard-white);
    background-color: var(--standard-pink);
    position: fixed;
    right: 20px;
    bottom:0;
    text-align: center;
    padding-top: 33px;
    font-size: xx-large;
    opacity: 0.75;
}
.back-to-top  a {
    text-decoration: none;
    color: var(--standard-white);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
3. SECTION 1: INTRO
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.intro-section {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.intro-section article:first-child {
    flex:40%;
    text-align: left;
    padding: 70px 10px 10px 90px;
}
.intro-section article:nth-child(2) {
    flex:60%;
    text-align: left;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.headshot1 {
    height:100%;
    width: 100%;
}
.intro-dot {
    height: 25px;
    width: 25px;
    background-color: var(--standard-pink);
    border-radius: 50%;
    display: inline-block;
    margin-right:10px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
4. SECTION 2: MIDDLE NAV 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.hr-dotted {
    border-style: dotted;
    border: 2px dashed var(--standard-white);
    width: 90%;
    margin-bottom: 40px;
    margin-top: 40px;
}
.middle-nav-section {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.middle-nav-section article {
    flex: 20%;
    text-align: center;
    vertical-align: middle;
}
.middle-nav-section article a {
    text-decoration: none;
    color: var(--standard-white);
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
5. SECTION 3: ABOUT ME 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.headshot2 {
    width: 250px;
    height: 250px;
}
.section-about-me {
    background-color: var(--standard-light-gray);
    color: var(--standard-navy);
    padding:20px;
}
.section-about-me h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}
.span-about-me-left {
    width:20%;
    margin-left:20px;
}
.span-about-me-right {
    width: 80%;
    float: right;
    padding-right: 50px;
    padding-top: 65px;
    padding-left: 13px;
}
.span-about-me-right p {
    color: var(--standard-medium-gray);
    font-weight: lighter;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
6. SECTION 4: MY WORK 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.section-my-work {
    margin: 2vmin;
}
.section-my-work ul {
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    padding: 0;
    margin: 0;
  }
  
.section-my-work li {
    /* height: 40vh; */
    height: 300px;
    flex-grow: 1;
    margin: 2vmin;
  }
.section-my-work li:last-child {
    /* flex-grow: 10; */
    flex-grow: 50;
}

 .section-my-work img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 1vmin;
}

.thumbnail-caption {
    background-color:rgba(0, 0, 0, 0.75);
    color: #fff;
    position: relative;
    top: -74px;
    margin-right: 38px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.thumbnail-caption a {
    text-decoration: none;
}
.thumbnail-caption:hover {
    background-color: var(--standard-navy);
    transition:  background-color 0.5s;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
7. SECTION 5: FOOTER & CONTACT ME 
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.section-contact {
    /* TODO: As the course continues, add font-awesome to use for icons and spruce up the footer */
    background-color: var(--standard-light-gray);
    text-align: center;
}
.section-contact article {
    text-align: center;
    color: var(--standard-navy);
}
.section-contact article ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    padding-bottom: 20px;;
}
.section-contact article li a {
    text-decoration: none;
    color: var(--standard-navy);
}
.section-contact article li a:hover {
    color: var(--standard-pink);
}
.section-contact article h3 {
    padding-top: 10px;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
8. RESPONSIVE MEDIA STYLES  
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* MOBILE -- SMALL */
@media (max-width: 320px) {
    /* GLOBAL SEMANTIC STYLES */
    header {
        position: relative;
        width: 100%;
    }
    .hide-in-mobile {
        display:none;
    }
    /* HEADER & TOP NAV  */
    nav a {
        /* TODO: Add hamburger menu for mobile view once we cover javaascript */
        display: none;
    }
    /* SECTION 1: INTRO */
    .intro-section {
        flex-direction: column;
    }
    .intro-section article:first-child {
        flex: 100%;
        text-align: left;
        padding: 20px;
    }
    .intro-section article:nth-child(2) {
        flex:100%;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* SECTION 2: MIDDLE NAV */
    .middle-nav-section {
        flex-direction: column;
    }
    .middle-nav-section article {
        flex: 100%;
        text-align: center;
        padding: 20px;
    }
    /* SECTION 3: ABOUT ME */
    .section-about-me h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .span-about-me-left {
        width: 100%;
        margin-left: 0;
        margin: 20px;
    }
    .span-about-me-right {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
    }
    /* SECTION 4: MY WORK  */
    .section-my-work {
        margin:0;
    }
    .section-my-work ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .section-my-work li {
        height: 40vh;
        flex-grow: 1;
        margin: 0;
        margin-bottom: 20px;
      }
    .section-my-work li:last-child {
        flex-grow: 1;
    }
}

/* MOBILE -- MEDIUM */
@media (max-width: 375px) {
    /* GLOBAL SEMANTIC STYLES */
    header {
        position: relative;
        width: 100%;
    }
    /* HEADER & TOP NAV  */
    nav a {
        /* TODO: Add hamburger menu for mobile view once we cover javaascript */
        display: none;
    }
    /* SECTION 1: INTRO */
    .intro-section {
        flex-direction: column;
    }
    .intro-section article:first-child {
        flex: 100%;
        text-align: left;
        padding: 20px;
    }
    .intro-section article:nth-child(2) {
        flex:100%;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* SECTION 2: MIDDLE NAV */
    .middle-nav-section {
        flex-direction: column;
    }
    .middle-nav-section article {
        flex: 100%;
        text-align: center;
        padding: 20px;
    }
    /* SECTION 3: ABOUT ME */
    .section-about-me h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .span-about-me-left {
        width: 100%;
        margin-left: 0;
        margin: 40px;
    }
    .span-about-me-right {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
    }
    /* SECTION 4: MY WORK  */
    .section-my-work {
        margin:0;
    }
    .section-my-work ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .section-my-work li {
        height: 40vh;
        flex-grow: 1;
        margin: 0;
        margin-bottom: 20px;
      }
    .section-my-work li:last-child {
        flex-grow: 1;
    }
}

/* MOBILE -- LARGE */
@media (max-width: 425px) {
    /* GLOBAL SEMANTIC STYLES */
    header {
        position: relative;
        width: 100%;
    }
    /* HEADER & TOP NAV  */
    nav a {
        /* TODO: Add hamburger menu for mobile view once we cover javaascript */
        display: none;
    }
    /* SECTION 1: INTRO */
    .intro-section {
        flex-direction: column;
    }
    .intro-section article:first-child {
        flex: 100%;
        text-align: left;
        padding: 20px;
    }
    .intro-section article:nth-child(2) {
        flex:100%;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* SECTION 2: MIDDLE NAV */
    .middle-nav-section {
        flex-direction: column;
    }
    .middle-nav-section article {
        flex: 100%;
        text-align: center;
        padding: 20px;
    }
    /* SECTION 3: ABOUT ME */
    .section-about-me h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .span-about-me-left {
        width: 100%;
        margin-left: 0;
        margin: 65px;
    }
    .span-about-me-right {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
    }
    /* SECTION 4: MY WORK  */
    .section-my-work {
        margin:0;
    }
    .section-my-work ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .section-my-work li {
        height: 40vh;
        flex-grow: 1;
        margin: 0;
        margin-bottom: 20px;
      }
    .section-my-work li:last-child {
        flex-grow: 1;
    }
}

/* TABLET -- VERTICAL */
@media (max-width: 768px) {
    /* HEADER & TOP NAV  */
    nav a {
        /* TODO: Add hamburger menu for mobile view once we cover javaascript */
        flex: 0 0 111px;
    }
    /* SECTION 1: INTRO */
    .intro-section {
        flex-direction: column;
    }
    .intro-section article:first-child {
        flex: 100%;
        text-align: left;
        padding: 20px;
    }
    .intro-section article:nth-child(2) {
        flex:100%;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* SECTION 3: ABOUT ME */
    .section-about-me h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .span-about-me-left {
        width: 100%;
        margin-left: 0;
        margin: auto;
        justify-content: center;
        display: flex;
    }
    .span-about-me-right {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 20px;
        padding-left: 0;
    }
}

/* LAPTOP -- 1024PX */
@media (max-width: 1024px) {
    /* SECTION 3: ABOUT ME */
    .section-about-me h3 {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .span-about-me-left {
        width: 100%;
        margin-left: 0;
        margin: auto;
        justify-content: center;
        display: flex;
    }
    .span-about-me-right {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-top: 20px;
        padding-left: 0;
    }
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
PLACEHOLDER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */